*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  background-color: #fff;
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  z-index: 99;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  max-width: 90%;
  margin:  auto;
}

#hamburger{
  display: none;
  cursor: pointer;
}
#hamburger .line{
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1{
  -webkit-transform: rotate(-45deg) translate(-6px,6px);
  transform: rotate(-45deg) translate(-6px,6px);
}
.open .bar2{
  opacity: 0;
}
.open .bar3{
  -webkit-transform: rotate(45deg) translate(-6px,-8px);
  transform: rotate(45deg) translate(-6px,-8px);
}
.open .mobile-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  z-index: -1;
}
.mobile-menu{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 250px);
  width: 50%;
  padding-top: 60px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.mobile-menu ul{
  width: 100%;
}
.mobile-menu ul li{
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.mobile-menu ul li a{
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  display: block;
}
.mobile-menu ul li a:hover{
  background-color: #f1f1f1;
}
.mobile-menu .social2{
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  gap: 20px;
}


.logo{
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}
.navbar ul,
.social{
  display: flex;
  list-style: none;
}
.navbar ul li a{
  display: block;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 25px;
  margin: 0 0.5rem;
  transform: 0.2s;
}
.social a{
  display: block;
  color: #03045e;
  font-size: 1.8rem;
  margin: auto 0.5rem;
  transform: 0.2s;
  text-align: center;
}







.cont{
  width: 1100px;
  max-width: 90%;
  margin: auto;
  padding-top: 165px;
}

main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
main .left{
  width: 55%;
}
main .left p.one{
  animation-delay: 0.5s;
}
main .left p{
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding-left: 4px;
  color: #03045e;
  animation-delay: 1.5s;
}
main .left h1{
  font-size: 4.6rem;
  font-weight: 1000;
  line-height: 4.4rem;
  margin-bottom: 0.8rem;
  color: #03045e;
  animation-delay: 1s;
}
main .left button{
  width: 115px;
  margin: 15px 0 40px;
  padding: 10px 0 18px;
  border: none;
  cursor: pointer;
  color: #474306;
  border-radius: 6px;
  background-color: #8f84f5;
  position: relative;
  font-size: 1rem;
  margin-left: 4px;
  animation-delay: 1.5s;
}
main .left button::before{
  content: "";
  position: absolute;
  background-color: transparent;
  border: 1px solid #474306;
  border-radius: 6px;
  width: 98%;
  height: 43px;
  left: -6px;
  top: -6px;
  z-index: 1;
}
main .right{
  width: 40%;
  height: 250px;
  animation-delay: 2s;
}
main .right .box{
  background-color: #e3e3e3;
  width: 87%;
  height: 80%;
  border-radius: 15px;
  position: relative;
}
main .right span{
  font-size: 20px;
  font-weight: 900;
  color: #56578d;
}
main .box .plus1{
  position: absolute;
  top: -3px;
  right: 5px;
}
main .box .plus2{
  position: absolute;
  top: 12px;
  right: 22px;
}
main .box .plus3{
  position: absolute;
  top: 25px;
  right: 5px;
}
main .right p{
  font-size: 30px;
  font-weight: 700;
  color: #03045e;
}


/******************** INTRO PART *********************/

.info{
  position: relative;
  width: 100%;
  max-width: 100%;
}
/* .info .image{
  background-image: url(IMAGE/—Pngtree—modern\ flat\ design\ concept\ of_5332907.png.jpeg);
  background-position: center;
  background-size: cover;
  width: 560px;
  max-width: 100%;
  height: 500px;
  position: absolute;
  top: -170px;
  right: 0px;
  z-index: -1;
} */

.about{
  width: 1094px;
  max-width: 100%;
}
.about h2{
  font-size: 2rem;
  color: #05e6ff;
}
.about p{
  font-size: 1.3rem;
  width: 690px;
  max-width: 100%;
  color: #000;
  margin-top: 1.4rem;
  margin-bottom: 4rem;
  line-height: 35px;
  text-align: justify;
}
.about .note{
  width: 100%;
  max-width: 100%;
  padding: 0 0 2rem 9rem;
  color: #000;
}
.note h3{
  margin-bottom: 0.9rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.bullet{
  display: flex;
  flex-direction: row;
}
.bullet .box{
  width: 2%;
  margin-top: 10px;
}
.bullet .box div{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #03045e;
}
.bullet .write-up{
  width: 75%;
  font-size: 1.3rem;
  text-align: justify;
  margin-left: 7px;
  line-height: 35px;
}


/********************* INTRO PART 2 **********************/

.info2{
  width: 100%;
  margin-top: 5rem;
}
.info2 .work2{
  font-size: 2.3rem;
  color: #05e6ff;
}
.info2 .work-info{
  font-size: 1.3rem;
  max-width: 100%;
  color: #000;
  margin-top: 1.4rem;
  margin-bottom: 4rem;
  line-height: 35px;
  text-align: justify;
}
.info2 .work{
  display: flex;
  justify-content: space-between;
}
.work .left,
.work .right{
  width: 46%;
  margin-bottom: 1rem;
}
.work .left .box,
.work .right .box{
  background-image: url(IMAGE/item-6.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
.box-intro span{
  font-size: 1.2rem;
  color: #696868;
}
.box-intro h2{
  margin-top: 20px;
  margin-bottom: 10px;
}
.box-intro p{
  font-size: 1.2rem;
  line-height: 35px;
  margin-bottom: 40px;
}



/*************************** CONTACT PART ****************************/
.info3{
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.info3 h2{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #05e6ff;
}
.info3 .contact-div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.info3 .image{
  background-image: url(IMAGE/item-1.jpeg);
  background-position: center;
  background-size: cover;
  width: 30%;
  height: 250px;
}
.info3 .contact-info{
  width: 67%;
}
.contact-info span{
  color: #696868;
  font-size: 1.3rem;
  line-height: 35px;
  display: block;
  margin-bottom: 28px;
  text-align: justify;
}
.contact-info a{
  display: block;
  font-size: 1.3rem;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #03045e;
}

.anime{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}



@media only screen and (max-width: 820px){
  .navbar,
  .social{
    display: none;
  }
  #hamburger{
    display: block;
  }



  .cont{
    padding-top: 120px;
  }

  main{
    flex-direction: column;
  }
  main .left{
    width: 100%;
  }
  main .right,
  main .right .box{
    width: 100%;
  }
  main .right .box{
    height: 100%;
  }
  .right .box{
    width: 100%;
  }

  /* .info .image{
    top: -70px;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;
  } */
  .about{
    margin-top: 7rem;
  }
  .about .note{
    padding: 0 0 2rem 4rem;
  }
  .bullet .write-up{
    width: 100%;
    margin-left: 15px;
  }


  .info2 .work{
    flex-direction: column;
  }
  .work .left,
  .work .right{
    width: 100%;
  }


  .info3 .contact-div{
    flex-direction: column;
  }
  .info3 .image{
    width: 100%;
    height: 280px;
    margin-bottom: 25px;
  }
  .info3 .contact-info{
    width: 100%;
  }
  .about p,
  .bullet .write-up,
  .info2 .work-info,
  .contact-info span{
    text-align: left;
  }

}